@use "variables" as *;
@use "mixins" as *;
@use "devices" as *;

header {
  @include flexbox(row, start);
  @include padding-x(1em);
  height: 100%;
  background-color: $leagueBlack;
  color: white;
  h3 {
    width: 100%;
  }
  .icon {
    position: absolute;
    right: 1em;
    cursor: pointer;
    @include device(tablet) {
      display: none;
    }
  }
  ul {
    @include flexbox(column, start);
    @include flex-gap(1em);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: $leagueBlack;
    transition: max-height 0.6s ease-in-out;
    max-height: 0px;
    overflow: hidden;
    z-index: 9;
    &.visible {
      max-height: 200px;
    }
    @include device(tablet) {
      @include flexbox(row, end, center);
      position: static;
      max-height: max-content;
    }
    li {
      @include device(tablet) {
        min-width: 12ch;
      }
      &:last-of-type {
        margin-bottom: 1em;
        @include device(tablet) {
          margin-bottom: 0;
        }
      }
      a {
        &.active {
          font-weight: 700;
        }
      }
    }
  }
}
