<header>
  <img ngSrc="/assets/img/logo.webp" width="60" height="60" priority />
  <h3>Liga Oriental</h3>
  @if (!toggleFlag) {
  <ng-icon
    class="icon"
    name="circumSquareMore"
    (click)="toggleMenu()"
    size="30"
  ></ng-icon>
  }@else {
  <ng-icon
    class="icon"
    name="circumSquareMinus"
    (click)="toggleMenu()"
    size="30"
  ></ng-icon>
  }
  <ul [class.visible]="toggleFlag">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li>
      <a [routerLink]="['/schedule']" routerLinkActive="active"
        >Planificaci&oacute;n</a
      >
    </li>
  </ul>
</header>
