@use "variables" as *;
@use "mixins" as *;
@use "texts" as *;
footer {
  background-color: $leagueBlack;
  color: $leagueWhite;
  text-align: center;
  @include padding-y(0.4em);
  p {
    font-size: nth($fontSizes, 2);
    ng-icon {
      transform: translateY(0.4em);
    }
  }
  small {
    font-size: nth($fontSizes, 1);
  }
}
