@use "variables" as *;
@use "mixins" as *;
@use "texts" as *;
@use "devices" as *;

:host {
  display: flex;
  align-items: center;
  justify-items: center;
  @include padding-y(0.2em);
  margin-top: 0.2em;
}

.icon {
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &.calendar,
  &.prev {
    margin-right: 0.4em;
  }
  &.next {
    margin-left: 0.4em;
  }
  @include device(tablet) {
    cursor: pointer;
  }
}

.track {
  overflow-x: scroll;
  @include hideScrollbar();
  width: 100%;
  ul {
    display: flex;
    li {
      min-width: 25%;
      @include device(tablet) {
        min-width: 10%;
      }
      &.selected {
        button {
          font-weight: 700;
          color: $leagueGreen;
        }
      }
      button {
        color: white;
        width: 100%;
        @include flexbox(column, center, center);
        overflow: hidden;
      }
    }
  }
}
