@use "variables" as *;
@use "mixins" as *;
@use "texts" as *;
@use "devices" as *;

:host {
  @include flexbox(row);
  @include padding-y(0.4em);
  @include padding-x(1.5em);
  width: 100%;
  background-color: $leagueWhite;
  margin-bottom: 1em;
}
.icon {
  margin-right: 1em;
}
ul {
  width: 100%;
  @include flexbox(row, start);
  li {
    width: 100%;
    max-width: 20ch;
    transition: border 0.5s ease-in-out;
    &::after {
      display: block;
      content: "";
      border-bottom: solid 4px $leagueGreen;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &.active::after {
      transform: scaleX(1);
    }
    button {
      width: 100%;
      text-align: center;
      @include font(regular);
    }
  }
}
